body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  text-align: center;
  color: black;
  font-size: 18px;
}

table {
  width: 40%;
  margin: 20px auto;
  border: 4px solid red;
}

tbody td:nth-child(1){
  background-color:cyan;
}

caption {
  font-size: 28px;
  color: red;
  margin-bottom: 10px;
}

caption::after{
  content: ' #05';
  color: #693aa7;
}

th, td {
  border: 2px solid blue;
  padding: 10px;
}

th {
  background-color: #ffdbb6;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: rgb(153, 153, 18);
}

tbody tr:nth-child(even) {
  background-color: #b8aaaa;
}

tfoot td {
  background-color: #e96d5d;
  font-weight: bold;
}